*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
/* header */
header{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(Resorces/nik-Yg0YZYIP8ak-unsplash.jpg);
    height: 81vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav bar */
nav{
    height: 65px;
    background-color: #0000007a;
    width: 100%;
}
nav>.logo{
    width:30%;
    float: left;
}
nav>.logo>img{
    width: 40px;
    background-color: rgb(255, 145, 0);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
nav>.logo>h1{
    display: inline;
    top: 18px;
    font-size: 27px;
    font-weight: bold;
    color:  #fff;
    position: absolute;
}

nav>.links{
    width: 70%;
    float: left;
}
nav>.links>ul{
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
nav>.links>ul>li{
    list-style: none;
    display: inline;
    margin: 0 20px;
    text-align: center;
}
nav>.links>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
nav>.links>ul>li>a:hover{
    color: rgb(211, 208, 208);
}
.dropdown-container{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    display: none;
}
.dropdown-container>a{
    display: block;
    font-size: 14px;
    padding:  8px 10px;
    text-decoration: none;
    color: #000;
}
.dropdown-container>a:first-child{
    border-radius: 10px 10px  0 0 ;
}
.dropdown-container>a:last-child{
    border-radius: 0 0 10px 10px ;
}
.dropdown-container>a:hover{
    background-color: rgb(233, 233, 233);
}
#dropdown:hover .dropdown-container{
    display: block;
}